body {
	background-color: #FAFAFA;
}

#wrapper {
	margin: 0 auto;
	width: 500px;                                                                         
	height: 500px;
}

#logo-img {
	width: 400px;
}

.logo {
	text-align: center;
}

#input {
	margin-left: 47px;
	font-family: Comic Sans MS, cursive;
	transition: 0.4s box-shadow;
	padding-left: 14px;
	width: 350px;
	height: 40px;
	border-width: 0px;
	font-size: 20px;
	-webkit-border-radius: 20px; //закругление углов (Google Chrome)
   	-moz-border-radius: 20px; //закругление углов (FireFox)
   	-khtml-border-radius: 20px; //закругление углов (Safari)
}

input {outline:none;}                                                    /* убирает обводку при нажатии на input */
button {outline:none;} 

#input:focus {
	color: #000000;
	box-shadow: 0 0 7px rgba(0,0,0,0.5);
}

#add {
	transition: 0.4s box-shadow;
    border: 0px solid;
	margin-left: 10px;
	font-size: 35px;	
	height: 41px;
	width: 41px;
	background-color: #FF8500;
	-webkit-border-radius: 30px; //закругление углов (Google Chrome)
   	-moz-border-radius: 30px; //закругление углов (FireFox)
   	-khtml-border-radius: 30px; //закругление углов (Safari)
}

#add:focuse {
	background-color: #FF9829;
}

.content {
	border-width: 0px;
	margin-top: 15px;
	display: flex;
}

#list {
	border: 4px solid red;
	overflow-y:auto;
	margin-top: 20px;
	height: 450px;
}